.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%, -55%);
    box-sizing: border-box;
    border-radius: 1px;
  }
  
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 8px 0;
    font-size: 17px;
    color: #ffffff;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
  }


  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0;
    font-size: 20px;
    color: #ffffff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #ffffff;
    font-size: 12px;
  }

.Color {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}
.center { 
  margin-bottom: 50px;
  display: flex; justify-content: center;
  margin: 8%;
}

.titulop{
    color: #ffffff;
    font-size: 35px;
    display: flex; justify-content: center;
    margin: 2%;
}

.fondo{
    background:  #121212;
}


button {
  position: relative;
  background-color: #686868;
  border-radius: 5px;
  box-shadow: #000000 0px 4px 0px 0px;
  padding: 15px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 154px;
  height: 49px;
  color: #ffffff;
  border: none;
  font-size: 20px;
  transition: all .3s ease-in-out;
  z-index: 1;
  overflow: hidden;
}

button::before {
  content: "";
  background-color: #3D3D3D;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
}
button:hover::before {
  width: 100%;
}