button {
    position: relative;
    background-color: rgb(89, 94, 112);
    border-radius: 5px;
    box-shadow: rgb(177, 168, 171) 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 154px;
    height: 49px;
    color: #ffffff;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

button::before {
    content: "";
    background-color: rgb(64, 70, 95);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}
button:hover::before {
    width: 100%;
}